.trending-container {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-container {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
  transition: margin 0.5s ease; /* Add transition property */
}

.create {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 2;
}

.about-us {
  margin-top: 20px;
  text-align: justify;
}

.trending-container h2,
.trending-container h1 {
  color: black;
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.category {
  position: relative;
  margin: 0 10px 20px;
  text-align: center;
}

.category img {
  width: 200px;
  height: 130px;
  transition: filter 0.3s ease;
  border-radius: 5px;
  filter: brightness(100%);
}

.category h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.category h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.category:hover img {
  filter: brightness(50%);
}

.category:hover h2 {
  opacity: 1;
}

.about-us h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

.about-us p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .video-container {
    width: 40%;
    margin-right: 0px;
    margin-left: 200px;
    margin-bottom: 60px;
  }

  .about-us {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 180px;
    flex: 1;
  }

  .about-us h2 {
    font-size: 24px;
  }

  .about-us p {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .video-container {
    width: 80%;
    margin: 0 auto 20px;
  }

  .create {
    max-width: 100%;
    height: auto;
  }

  .about-us {
    margin-top: 20px; 
    margin-left: 10px; 
    margin-right: 10px; 
  }
}

